<ol class="breadcrumb" style="position: relative; top:50px; left:0px;">
  <li><a href="/">Home</a></li>
  <li class="active">FAQ</li>
</ol>

<div class="container-fluid" style="padding-top:50px; padding-left:25px; padding-right:25px;">
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Frequently Asked Quetion (FAQ)</strong></div>

    <div class="panel-body" style="padding-left:20px; padding-right:0px;">
      <div id="content"> <p><span style="font-size:20px;"><strong>Frequently Asked Quetion (FAQ)</strong></span></p>

        <div>&nbsp;</div>

        <div><strong><span style="font-size:16px;">Beberapa pertanyaan yang sering ditanyakan</span></strong></div>

        <div><span style="font-size:14px;">sebelum menghubungi customer service, silakan untuk mengecek kategori <strong><a href="/faq">FAQ</a>&nbsp;</strong>di bagian Information.&nbsp;</span></div>

        <!--
        <div>&nbsp;</div>

        <div><span style="font-size:16px;">Q : <strong>Bagaimana cara order / belanja di Gramedio?&nbsp;</strong></span></div>

        <div><span style="font-size:16px;">A : <em>Cara order atau belanja di Gramedio bisa di akses di bagian Information "<a href="./cara_belanja.php" target="_blank">Cara Belanja&nbsp;/ Order</a>" dan jangan lupa untuk melihat <a href="/terms" target="_blank">Terms &amp; Condition</a> sebelum berbelanja.</em></span></div>

        !-->

        <div>&nbsp;</div>

        <div><span style="font-size:16px;">Q : <strong>Bagaimana cara melakukan pembayaran di Gramedio?&nbsp;</strong></span></div>

        <div><span style="font-size:16px;">A : <em>Cara order atau belanja di Gramedio bisa di akses di bagian Information "<a href="/payment_method" target="_blank">Cara Pembayaran</a>".</em></span></div>

        <div>&nbsp;</div>

        <div><span style="font-size:16px;">Q : <strong>Bagaimana cara mengetahui / mengecek nomor order &amp; status orderan saya?&nbsp;</strong></span></div>

        <div><span style="font-size:16px;">A : <em>Login User - History Belanja.&nbsp;</em></span></div>

        <div><em><span style="font-size:16px;">apabila riwayat pemesanan kamu masih kosong, kemungkinan besar kamu tidak melakukan prosedur "check out" dengan benar.</span></em></div>

        <div>&nbsp;</div>

        <div><strong><span style="font-size:16px;">Q : Berapa lama batas melakukan transfer &amp; konfirmasi pembayaran?&nbsp;</span></strong></div>

        <div><span style="font-size:16px;">A : <em>Maksimal 3 hari kerja. Di hari ke 3 kamu akan mendapatkan email reminder langsung dari customer service kami yang berisi :&nbsp;</em></span></div>

        <div style="margin-left: 80px;"><em><span style="font-size:16px;"><span style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;">Dear Customer,</span><br style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;">
<br style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;">
<span style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;">Hari ini adalah batas akhir untuk orderan anda. Silakan anda untuk mentransfer uang anda.</span><br>
<span style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;">NOTE : Apabila anda sudah melakukan pembayaran &amp; mengirimkan bukti transfer ke pay@gramedio.com, Silakan abaikan email ini. Email ini hanya sebagai reminder saja.</span><br>
<span style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;">Terima Kasih</span><br style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;">
<br style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;">
<span style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;">Regards,</span><br style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;">
<span style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;">Gramedio Customer Service</span></span></em></div>

        <div style="margin-left: 40px;"><em><span style="font-size:16px;"><span style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;">Setelah melewati 3 hari kamu belum melakukan pembayaran, orderan kamu akan langsung di anggap <strong>cancel / exipred</strong>. (Silakan dibaca di daerah <a href="/terms" target="_blank">Terms &amp; Condition</a> tentang orderan Exipred)</span></span></em></div>

        <div>&nbsp;</div>

        <div>&nbsp;</div>

        <div><span style="font-size:16px;">Q : <strong>Bagaimana cara melakukan pembatalan pesanan?&nbsp;</strong></span></div>

        <div><span style="font-size:16px;">A : <em>Pembatalan hanya bisa dilakukan apabila Terjadi kesalahan / double check out order.<span style="color:#ff0000;"> Pembatalan pesanan tidak akan bisa dilakukan apabila kamu sudah melakukan pembayaran dengan alasan apa-pun.&nbsp;</span></em></span></div>

        <div>&nbsp;</div>

        <div><span style="font-size:16px;">Q : <strong>Bagaimana cara untuk menambah pesanan dalam satu nomor order?&nbsp;</strong></span></div>

        <div><span style="font-size:16px;">A :<em> Hubungi customer service kami dengan menyebutkan nama barang yang ingin ditambahkan &amp; jumlah barang tersebut. Penambahan pesanan hanya bisa dilakukan max 2 hari setelah kamu melakukan "check out".</em></span></div>

        <div>&nbsp;</div>

        <div><span style="font-size:16px;">Q : <strong>Kenapa status orderan saya tidak langsung berubah setelah saya melakukan pembayaran?&nbsp;</strong></span></div>

        <div><span style="font-size:16px;">A : <em>Silakan untuk menunggu max 3 hari kerja, karena pergantian status hanya bisa dilakukan pada hari kerja bank, yaitu (senin - jumat) dan biasanya akan dilakukan pada malam hari, hal ini untuk menghindari kesalahan dalam pengecekan data.&nbsp;</em></span></div>

        <div>&nbsp;</div>

        <div><strong><span style="font-size:16px;">Q : Ada berapa tahap dalam perubahan status pesanan / order di Gramedio ?&nbsp;</span></strong></div>

        <div><span style="font-size:16px;">A :<em> Tahap-tahap perubahan status pesanan ada :&nbsp;</em></span></div>

        <p style="margin-left: 40px;"><em><span style="font-size:16px;"><strong>1. Menunggu Pembayaran</strong><br>
Pesanan / orderan kamu sudah kami terima, tinggal menunggu pembayaran &amp; konfirmasi pembayaran.</span></em></p>

        <p style="margin-left: 40px;"><em><span style="font-size:16px;"><strong>2. Terkirim&nbsp;</strong><br>
Pembayaran Pesanan / Orderan kamu sudah kami terima dan Barang kamu sudah kami kirimkan melalui ekspedisi  yang dipilih (reg / ons), untuk melihat info tentang jasa pengiriman silakan dilihat di<a href="/shipping_information" target="_blank"><strong> INFORMASI PENGIRIMAN</strong></a>.</span></em></p>
        <p style="margin-left: 40px;"><em><span style="font-size:16px;"><strong>3. Dibatalkan&nbsp;</strong><br>
Pesanan kamu dianggap batal karena sudah melewati batas waktu pembayaran &amp; konfirmasi pembayaran yaitu 3 hari setelah menerima nomor pesanan / nomor order. Atau karena kamu menekan tombol pembatalan pesanan di Login User - History Pesanan</span></em></p>


        <div>&nbsp;</div>
      </div>

      <div><span style="font-size:16px;">Q : <strong>Berapa lama waktu yang diperlukan untuk Pre-order melalui Gramedio?&nbsp;</strong></span></div>

      <div><span style="font-size:16px;">A : <em>Pre-Order dari Korea akan memakan waktu sekitar 2-3 minggu dari tgl tutup Pre-Order, sedangkan Pre-Order dari Jepang akan memakan waktu lebih lama, yaitu sekitar 3-5 minggu dari tgl tutup Pre-Order. (Hal ini diakibatkan prosedur pengiriman di jepang lebih memakan waktu daripada di korea)</em></span></div>


      <div>&nbsp;</div>

      <div><span style="font-size:16px;">Q : <strong>&nbsp;Apakah barang yang berlabel<em> "Out Of Stock" / "Pre-Order"</em> masih bisa dipesan?&nbsp;</strong></span></div>

      <div><span style="font-size:16px;">A : <em>Semua barang tetap bisa di pesan selama persediaan di korea / jepang masih ada.&nbsp;</em></span></div>

      <div>&nbsp;</div>


      <div>&nbsp;</div>

      <div>&nbsp;</div>

      <div>
        <div style="-webkit-transition: width 0.2s ease; color: rgb(51, 51, 51); font-family: Georgia, serif; font-size: 13px; line-height: 18px;"><span style="-webkit-transition: width 0.2s ease; font-size: 16px;">Silakan langsung menghubungi kami via email / twitter / YM (pada hari kerja : senin - sabtu) &nbsp;jika masih ada yang kurang jelas. Customer Service kami akan siap membantu anda ^^</span></div>

        <div style="-webkit-transition: width 0.2s ease; color: rgb(51, 51, 51); font-family: Georgia, serif; font-size: 13px; line-height: 18px;"><em style="-webkit-transition: width 0.2s ease;"><span style="-webkit-transition: width 0.2s ease; font-size: 16px;">Email : cs@gramedio.com&nbsp;<br style="-webkit-transition: width 0.2s ease;">
Twitter : @_Gramedio</span></em></div>

        <div style="-webkit-transition: width 0.2s ease; color: rgb(51, 51, 51); font-family: Georgia, serif; font-size: 13px; line-height: 18px;"><span style="-webkit-transition: width 0.2s ease; font-size: 16px;"><em style="-webkit-transition: width 0.2s ease;">YM : gramedio@ymail.com</em></span></div>
      </div>

      <p>&nbsp;</p>

    </div>
  </div>
</div>
</div>