<ol class="breadcrumb" style="position: relative; top:50px; left:0px;">
  <li><a href="/">Home</a></li>
  <li class="active">Metode Pembayaran</li>
</ol>

<div class="container-fluid" style="padding-top:50px; padding-left:25px; padding-right:25px;">
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Metode Pembayaran</strong></div>

    <div class="panel-body" style="padding-left:20px; padding-right:0px;">


      <div id="content"><p>&nbsp;</p>

        <div><span style="font-size:22px;"><strong>Metode Pembayaran&nbsp;</strong></span></div>

        <div>&nbsp;</div>

        <div><span style="font-size:16px;">Gramedio menerima pembayaran melalui :&nbsp;</span></div>

        <p>&nbsp;</p>

        <div><strong><span style="font-size:16px;">1. Transfer via Bank Central Asia</span></strong></div>

        <div><img alt="" src="/img/B0loG.gif" style="width: 200px; height: 64px;"></div>

        <div><em><span style="font-size:16px;">Acc : 3831 - 2407 - 66</span></em></div>

        <div><em><span style="font-size:16px;">A/N : HOBERT</span></em></div>

        <div><em><span style="font-size:16px;">KCU SUNTER AGUNG &nbsp;</span></em></div>

        <div>&nbsp;</div>

        <div><strong><span style="font-size:16px;">2. Transfer via Bank Mandiri&nbsp;</span></strong></div>

        <div><img alt="" src="/img/47yoi.jpg" style="width: 200px; height: 100px;"></div>

        <div><em><span style="font-size:16px;">Acc : 105&nbsp;</span></em><em><span style="font-size:16px;">- 00 - 1092274 - 2</span></em></div>

        <div><em><span style="font-size:16px;">A/N : ERWIN</span></em></div>

        <div><em><span style="font-size:16px;">KCP PINANG BARIS MEDAN</span></em></div>

        <div>&nbsp;</div>

        <div><strong><span style="font-size:16px;">3. Paypal</span></strong></div>

        <div><strong style="font-size: 18px;"><img alt="" src="/img/HkrDs.png" style="width: 200px; height: 103px;"></strong></div>

        <div>&nbsp;</div>

        <div>&nbsp;</div>

        <div><span style="font-size:16px;">Setelah melakukan pembayaran, segera melakukan konfirmasi dengan cara :&nbsp;</span></div>

        <div><em><span style="font-size:16px;">1. Konfirmasi via email&nbsp;</span></em></div>

        <div><span style="font-size:16px;">kirimkan email konfirmasi pembayaran anda via email apabila konfirmasi via website sedang mengalami gangguan.&nbsp;</span></div>

        <div>&nbsp;</div>

        <div style="margin-left: 40px;"><em><span style="font-size:16px;">Nama Akun :&nbsp;</span></em></div>

        <div style="margin-left: 40px;"><em><span style="font-size:16px;">Nomor Order :&nbsp;</span></em></div>

        <div style="margin-left: 40px;"><em><span style="font-size:16px;">Nama Pemilik Rekening :&nbsp;</span></em></div>

        <div style="margin-left: 40px;"><em><span style="font-size:16px;">Pembayaran via : (BCA / MANDIRI)&nbsp;</span></em></div>

        <div style="margin-left: 40px;"><em><span style="font-size:16px;">Nominal Transfer :&nbsp;</span></em></div>

        <div style="margin-left: 40px;"><em><span style="font-size:16px;">Tanggal Transfer :</span></em></div>

        <div style="margin-left: 40px;"><em><span style="font-size:16px;">Jangan lupa untuk mengupload bukti setor / transfer anda &amp; dikirimkan ke pay@gramedio.com.</span></em></div>

        <div>&nbsp;</div>

        <div>&nbsp;</div>

        <div><span style="font-size:16px;">Silakan langsung menghubungi kami via email / twitter / YM (pada jam kerja : senin - sabtu &nbsp;jika masih ada yang kurang jelas. Customer Service kami akan siap membantu anda ^^</span></div>

        <div><em><span style="font-size:16px;">Email : cs@gramedio.com&nbsp;<br>
Twitter : @_Gramedio</span></em></div>

        <div><span style="font-size:16px;"><em>YM : gramedio@ymail.com</em></span><br>
          &nbsp;</div>

        <div>&nbsp;</div>

      </div>
    </div>
  </div>
</div>