<ol class="breadcrumb" style="position: relative; top:50px; left:0px;">
  <li><a href="/">Home</a></li>
  <li class="active">Retur & Refund</li>
</ol>

<div class="container-fluid" style="padding-top:50px; padding-left:25px; padding-right:25px;">
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Retur & Refund</strong></div>

    <div class="panel-body" style="padding-left:20px; padding-right:0px;">


      <div id="content">
        <p><strong><span style="font-size:22px;">REFUND</span></strong></p>

        <ul>
          <li><span style="font-size:16px;">Refund hanya berlaku bagi barang-barang yang sudah <strong><span style="color:#ff0000;">OUT OF STOCK.&nbsp;</span></strong></span></li>
          <li><span style="font-size:16px;">Proses refund akan dilakukan <span style="color:#ff0000;"><strong>max 7 hari kerja</strong></span> sejak penerimaan email informasi rekening dari customer</span></li>
          <li><span style="font-size:16px;">Bagi pemilik rekening BCA dan MANDIRI akan menerima FULL REFUND.</span></li>
          <li><span style="font-size:16px;">Bagi pemilik rekening selain BCA dan MANDIRI, uang yang di refund akan di potong biaya transfer antar bank yang berkisar antara<span style="color:#ff0000;"><strong> Rp.5,000 - Rp.20,000&nbsp;</strong></span></span></li>
          <li><span style="font-size:16px;">Bagi pemilik rekening lain (selain BCA &amp; MANDIRI) jangan lupa untuk mengirimkan data bank anda secara lengkap :<br>
	<strong><span style="color: rgb(0, 0, 0); font-family: arial, sans-serif; ">Nama Bank :</span><br style="color: rgb(0, 0, 0); font-family: arial, sans-serif; font-size: 16px; ">
	<span style="color: rgb(0, 0, 0); font-family: arial, sans-serif; ">Kota Tujuan : (dimana rekening tersebut di buka)</span><br style="color: rgb(0, 0, 0); font-family: arial, sans-serif; font-size: 16px; ">
	<span style="color: rgb(0, 0, 0); font-family: arial, sans-serif; ">Lokasi Cabang :</span><br style="color: rgb(0, 0, 0); font-family: arial, sans-serif; font-size: 16px; ">
	<span style="color: rgb(0, 0, 0); font-family: arial, sans-serif; ">Nama Penerima :</span><br style="color: rgb(0, 0, 0); font-family: arial, sans-serif; font-size: 16px; ">
	<span style="color: rgb(0, 0, 0); font-family: arial, sans-serif; ">Nomor Rekening :</span></strong></span></li>
        </ul>

        <p style="margin-left: 40px; "><br>
          &nbsp;</p>

        <p><strong><span style="font-size:22px;">RETUR &amp; REPLACE</span></strong></p>

        <ol>
          <li>Cek terlebih dahulu keadaan paket pada saat diterima dari kurir. Alangkah baiknya anda tidak menerima/langsung mengembalikan kepada kurir tersebut apabila Paket dalam keadaan tidak bagus.</li>
          <li><strong>Retur &amp; Replace hanya berlaku max 1x24jam sejak anda menerima paket tersebut. (Gramedio tidak mengganti barang anda apabila sudah melebihi 1x24jam)</strong></li>
          <li>Apabila terjadi kerusakan isi didalam paket, <strong>ikuti prosedur dibawah ini:</strong>
            <ul>
              <li><strong>Foto keadaan paket pada waktu diterima</strong> (depan,belakang,sisi kiri,sisi kanan &amp; tube poster jika ada)</li>
              <li>Email ke cs@gramedio.com beserta bukti foto dan nomor order anda.</li>
              <li><strong>Komplain ke TIKI di kota anda (WAJIB)</strong>, setelah itu pihak Gramedio akan melakukan Follow Up kepada pihak TIKI Medan**</li>
            </ul>
          </li>
          <li>Proses akan memakan waktu 2-3 Minggu untuk proses ganti rugi oleh pihak TIKI, apabila TIKI sudah menyetujui-nya maka Gramedio akan mengirimkan kembali dengan barang yang baru.</li>
          <li>Tunggu Paket kiriman dari Gramedio ^^</li>
        </ol>

        <p><strong>NOTE</strong>: <strong>* Dimana barang tersebut bukan cacat dari distributor Luar Negri (segel "sealed" rusak / hilang, poster basah, paket dalam kondisi hancur / rusak parah). </strong></p>

        <p><strong>** Apabila customer (penerima) tidak melakukan komplain ke TIKI di daerah-nya, maka Gramedio tidak bisa membantu proses untuk follow ke TIKI MEDAN. Karena pihak TIKI Medan juga memerlukan bukti komplain dari TIKI di daerah si customer (penerima). Jadi, tidak perlu khawatir dengan menggunakan jasa ekspedisi TIKI. Karena Gramedio sudah bekerja sama dengan pihak TIKI dari tahun 2011 dan TIKI akan bersedia mengganti kerusakan barang tersebut apabila itu disebabkan oleh kelalaian mereka. </strong></p>


        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>