<ol class="breadcrumb" style="position: relative; top:50px; left:0px;">
  <li><a href="/">Home</a></li>
  <li class="active">Informasi Pegiriman</li>
</ol>

<div class="container-fluid" style="padding-top:50px; padding-left:25px; padding-right:25px;">
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Informasi Pengiriman</strong></div>

    <div class="panel-body" style="padding-left:20px; padding-right:0px;">


      <div id="content">
        <p style="font-size: 13px; line-height: 20.7999992370605px;">
          <span style="font-size: 24px;"><strong>Delivery Information</strong></span>
        </p>

        <p style="font-size: 13px; line-height: 20.7999992370605px;"><span style="font-size: 16px;">Saat ini Gramedio bekerja sama dengan TIKI yang menjadi ekspedisi yang akan di pakai oleh Gramedio.</span></p>

        <hr style="font-size: 13px; line-height: 20.7999992370605px;">
        <p style="font-size: 13px; line-height: 20.7999992370605px;"><strong><span style="font-size: 18px;">TIKI (Titipan Kilat)</span></strong></p>

        <p style="font-size: 13px; line-height: 20.7999992370605px;">&nbsp;</p>

        <p style="font-size: 13px; line-height: 20.7999992370605px;"><span style="font-size: 16px;">Tiki (Tititpan Kilat) salah satu ekspedisi yang terkemuka di Indonesia, dan sudah puluhan tahun melayani pengiriman paket Domestik maupun International. Selain itu TIKI memiliki sistem ONLINE TRACKING untuk mengecek status pengiriman barang anda. Website Tiki :&nbsp;<a href="http://www.tiki-online.com/home">KLIK</a></span></p>

        <p style="font-size: 13px; line-height: 20.7999992370605px; margin-left: 40px;"><strong><span style="font-size: 16px;">Perbedaan antara Tiki Reg &amp; Tiki Ons :</span></strong></p>

        <p style="font-size: 13px; line-height: 20.7999992370605px; margin-left: 80px;"><span style="font-size: 16px;"><strong>Tiki Regular (Reg)</strong>&nbsp;:&nbsp;<em>Pengiriman memakan waktu 4-6 hari untuk sampai ketujuan.</em><br>
<strong>Tiki Ons (Over Night Service)</strong>&nbsp;:<em>&nbsp;Pengiriman memakan waktu 2-4 hari untuk sampai ketujuan.</em></span></p>

        <p style="font-size: 13px; line-height: 20.7999992370605px; margin-left: 40px;"><span style="font-size: 16px;"><strong>Hotline Number : +62-21-500125</strong></span></p>

        <p style="font-size: 13px; line-height: 20.7999992370605px; margin-left: 40px;"><span style="font-size: 16px;"><b>Proses klaim paket rusak :&nbsp;</b></span></p>

        <ul style="font-size: 13px; line-height: 20.7999992370605px;">
          <li style="margin-left: 40px;"><em>Foto keadaan paket pada waktu diterima (depan,belakang,sisi kiri,sisi kanan &amp; tube poster jika ada)</em></li>
          <li style="margin-left: 40px;"><em>Email ke cs@Gramedio.com beserta bukti foto.&nbsp;</em></li>
          <li style="margin-left: 40px;"><em>Komplain ke TIKI di kota si penerima, setelah itu pihak Gramedio akan melakukan Follow Up kepada pihak TIKI Medan (apabila si penerima tidak melakukan komplain di daerah-nya, maka kami tidak bisa membantu proses untuk follow ke TIKI MEDAN. Karena pihak TIKI Medan juga memerlukan bukti komplain dari TIKI di daerah si penerima)&nbsp;</em></li>
          <li style="margin-left: 40px;"><em>Proses akan memakan waktu 2-3 Minggu untuk proses ganti rugi oleh pihak TIKI, apabila TIKI sudah setuju untuk ganti rugi maka Gramedio akan mengirimkan kembali dengan barang yang baru.&nbsp;</em></li>
        </ul>

        <p style="font-size: 13px; line-height: 20.7999992370605px; margin-left: 40px;"><em><strong>Diharapkan kerja sama dengan pihak customer (penerima paket) agar bersedia mengikuti prosedur-prosedur diatas. Hal ini dikarenkan Gramedio ada kerjasama dengan pihak TIKI, apabila customer / penerima mengikuti prosedur tersebut maka proses pengantian akan dilakukan oleh TIKI.&nbsp;</strong></em></p>

        <p style="font-size: 13px; line-height: 20.7999992370605px; margin-left: 40px;"><u><b>Gramedio tidak bisa menganti barang customer, apabila si Customer tidak mengikuti prosedur klaim paket.&nbsp;</b></u></p>

        <p style="font-size: 13px; line-height: 20.7999992370605px;">&nbsp;</p>

        <p style="font-size: 13px; line-height: 20.7999992370605px;">&nbsp;</p>

        <p style="font-size: 13px; line-height: 20.7999992370605px;">&nbsp;</p>

      </div>
    </div>
  </div>
</div>