<ol class="breadcrumb" style="position: relative; top:50px; left:0px;">
  <li><a href="/">Home</a></li>
  <li class="active">Terms & Conditions</li>
</ol>

<div class="container-fluid" style="padding-top:50px; padding-left:25px; padding-right:25px;">
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Terms & Conditions</strong></div>

    <div class="panel-body" style="padding-left:20px; padding-right:0px;">
      <div id="content">
        <p style="font-size: 13px; line-height: 20.7999992370605px;">
          <span style="font-size: 18px;"><strong>Terms &amp; Conditions</strong></span>
        </p>

        <p style="font-size: 13px; line-height: 20.7999992370605px;">Selamat datang di Gramedio.com. Syarat ini mengatur seluruh pengguna atas situ Gramedio.com.&nbsp;Dengan menggunakan, mengunjungi atau berbelanja di website Gramedio.com dan semua subdomain daripadanya, Anda setuju untuk terikat oleh Syarat Penggunaan, serta kebijakan lain yang dipasang di situs Gramedio.com</p>

        <p style="font-size: 13px; line-height: 20.7999992370605px;"><strong>Harga</strong></p>

        <ol style="font-size: 13px; line-height: 20.7999992370605px;">
          <li>Harga di Gramedio.com tidak mengikat, sewaktu-waktu dapat berubah tanpa pemberitahuan terlebih dahulu sesuai dengan kurs-nya yang ada.&nbsp;</li>
          <li>Gramedio berhak untuk menaikan / menurunkan harga setiap saat.</li>
        </ol>

        <p style="font-size: 13px; line-height: 20.7999992370605px;"><strong>Kerusakan Barang</strong></p>

        <ol style="font-size: 13px; line-height: 20.7999992370605px;">
          <li>Gramedio tidak bertanggung jawab atas kerusakan barang yang diakibatkan oleh kesalahan distributor (cacat fisik / rusak)&nbsp;</li>
          <li>Seluruh barang yang dikirimkan telah melewati proses pengecekan dan apabila terjadi kerusakan pada saat pengiriman yang diakibatkan oleh kurir, silakan langsung menghubungi ekspedisi tersebut.&nbsp;</li>
        </ol>

        <p style="font-size: 13px; line-height: 20.7999992370605px;"><strong>Cancel Order</strong></p>

        <ol style="font-size: 13px; line-height: 20.7999992370605px;">
          <li>Barang yang sudah dibeli tidak dapat diganti / ditukar / dibatalkan dengan alasan apa-pun.&nbsp;</li>
          <li>Pembatalan Orderan akan dikenakan fee 50% dari harga barang tersebut. Hal ini dikarenakan setiap barang yang sudah dibayarkan langsung masuk didalam sistem pemesanan barang kami yang berada di korea.</li>
          <li>Pembatalan dapat dilakukan sepihak oleh Gramedio.&nbsp;</li>
        </ol>


        <p style="font-size: 13px; line-height: 20.7999992370605px;"><strong>Larangan Bagi Pengguna Situs Gramedio.com</strong></p>

        <ol style="font-size: 13px; line-height: 20.7999992370605px;">
          <li><span class="hps">Mengganggu</span>&nbsp;<span class="hps">atau berusaha mengganggu</span>&nbsp;operasi dari situ ini (Bagi customer yang nomor orderannya diganti statusnya ke "EXPIRED" sebanyak 3x, maka account customer tersebut akan di block selama 3 hari. Apabila pelanggaran ini masih juga di lakukan, maka account tersebut akan di DELETE dari Gramedio.com ;&nbsp;</li>
          <li>Menggunakan dan menyebarkan data - data yang diambil dari situs termasuk info produk dan harga tanpa ijin tertulis dari Gramedio.com ;</li>
          <li>Memproduksi, Merekam, Menyalin ulang serta Memperbanyak produk-produk yang di beli dari Gramedio.com guna untuk di perjual belikan kembali secara Ilegal ;</li>
          <li>Menggunakan nama Gramedio.com untuk hal - hal yang negatif &amp; tanpa persetujuan tertulis dari pihak Gramedio.com ;&nbsp;</li>
        </ol>

        <div style="font-size: 13px; line-height: 20.7999992370605px;">&nbsp;</div>

        <div style="font-size: 13px; line-height: 20.7999992370605px;">
          <div><b>Akun</b></div>

          <div>Situs ini mewajibkan Anda untuk membuat akun, username dan password. Anda bertanggung jawab untuk menjaga kerahasiaan tersebut, account username dan password, dan setuju untuk menerima tanggung jawab untuk semua aktivitas yang terjadi di bawah, nama pengguna account Anda atau password. Anda setuju untuk memberitahukan Gramedio segera dari setiap penggunaan yang tidak sah, nama pengguna account Anda atau password atau pelanggaran keamanan lainnya sehubungan dengan Situs ini. Anda tidak dapat menggunakan account orang lain, username atau password setiap saat. Anda tidak boleh mencoba untuk mendapatkan akses tidak sah ke Situs. Anda tidak boleh mengijinkan orang lain untuk menggunakan account Anda, username atau password. Anda setuju untuk memberikan Gramedio dengan informasi yang akurat, terkini dan lengkap tentang diri Anda dan informasi penagihan Anda sebagaimana diminta dalam proses pendaftaran. Anda dapat memperbarui informasi account Anda dengan mengklik pada link Account Saya di Situs.</div>

          <div>&nbsp;</div>

          <div><strong>Age of Users</strong></div>

          <div>Gramedio.com hanya untuk dilihat &amp; digunakan oleh Individu yang berumur +17tahun &amp; Individu yang berumur dibawah17 tahun dengan pengawasan dari Orang tua / wali. Kami tidak bertanggung jawab atas kerugian yang dialami pihak keluarga / wali Individu dibawah 17 Tahun yang menggunakan situs ini tanpa pengawasan dari Orang tua / wali.</div>

          <div>&nbsp;</div>
        </div>

        <div style="font-size: 13px; line-height: 20.7999992370605px;"><b>Hak Kekayaan Intelektual</b></div>

        <div style="font-size: 13px; line-height: 20.7999992370605px;">Seluruh rancangan desain, gambar, artwork, serta kode pemrograman (selanjutnya disebut 'konten') dalam situs Gramedio.com adalah hak cipta milik Kami. Anda tidak diperkenankan untuk memodifikasi, menyalin, mengubah atau menambah rancangan desain, gambar, artwork, serta kode pemrograman dalam fasilitas ini dalam keadaan atau kondisi apapun.</div>

        <div style="font-size: 13px; line-height: 20.7999992370605px;">&nbsp;</div>

        <div style="font-size: 13px; line-height: 20.7999992370605px;"><strong>Hukum</strong></div>

        <div style="font-size: 13px; line-height: 20.7999992370605px;">Seluruh pelanggaran yang dilakukan akan di laporkan ke pihak yang berkepentingan untuk di tindak lanjuti.</div>

        <div style="font-size: 13px; line-height: 20.7999992370605px;">&nbsp;</div>

        <div style="font-size: 13px; line-height: 20.7999992370605px;">
          <div><b>Perubahan Terms &amp; Condition&nbsp;</b></div>

          <div>Kami setiap saat dapat merubah, mengganti, menambah atau mengurangi Terms and Condition ini. Anda terikat oleh setiap perubahan tersebut dan karenanya secara berkala harus melihat halaman ini untuk memeriksa Terms and Condition yang berlaku dan mengikat Anda.</div>
        </div>

        <div style="font-size: 13px; line-height: 20.7999992370605px;">&nbsp;</div>

        <div>&nbsp;</div>
      </div>
    </div>
  </div>
</div>