<ol class="breadcrumb" style="position: relative; top:50px; left:0px;">
  <li><a href="/">Home</a></li>
  <li class="active">Register</li>
</ol>

<div class="container-fluid" style="padding-top:50px; padding-left:25px; padding-right:25px;">
  <div class="panel panel-default">
    <div class="panel-heading">Register New User</div>

    <div class="panel-body" style="padding-left:20px; padding-right:0px;">
      <form class="form-horizontal" action="servlet/registerServlet.php" method="post">
        <h4 class="secondary-title" style="margin-top:20px;">Login Info</h4>
        <hr style="width:678px; margin-top:0px; margin-bottom:10px; padding-left:0px; padding-top:0px; float:left;"/>
        <table id="table-user">
          <tbody>
          <tr>
            <td><label class="control-label required" for="username">Username:</label></td>
            <td></td>
            <td><input type="text" class="form-control" id="username" name="username" size="40" placeholder="Username" required  /></td>
            <td><label class="user-input-info">*(6-20 Karakter)</label></td>
          </tr>
          <tr>
            <td><label class="control-label required" for="password">Password:</label></td>
            <td></td>
            <td><input type="password" class="form-control" id="password" name="password" size="40" placeholder="Password" required /></td>
            <td><label class="user-input-info">*(6-20 Karakter)</label></td>
          </tr>
          <tr>
            <td><label class="control-label required" for="confirm_password">Confirm Password:</label></td>
            <td></td>
            <td><input type="password" class="form-control" id="confirm_password" name="confirm_password" size="40" placeholder="Confirm Password" required/></td>
          </tr>
          </tbody>
        </table>

        <h4 class="secondary-title">Personal Info</h4>
        <hr style="width:678px; margin-top:0px; margin-bottom:10px; padding-left:0px; padding-top:0px; float:left;"/>
        <table id="table-user" style="clear:both;">
          <tbody>
          <tr>
            <td><label class="control-label required" for="nama_dpn">Nama Depan:</label></td>
            <td></td>
            <td><input type="text" class="form-control" id="nama_dpn" name="nama_dpn" size="80" placeholder="Nama Depan" required/></td>
          </tr>
          <tr>
            <td><label class="control-label required" for="nama_blkg">Nama Belakang:</label></td>
            <td></td>
            <td><input type="text" class="form-control" id="nama_blkg" name="nama_blkg" size="80" placeholder="Nama Belakang" required/></td>
          </tr>
          <tr>
            <td><label class="control-label required" for="alamat">Alamat:</label></td>
            <td></td>
            <td><input type="text" class="form-control" id="alamat" name="alamat" size="80" placeholder="Alamat" required/></td>
          </tr>
          <tr>
            <td><label class="control-label required" for="kota">Kota:</label></td>
            <td></td>
            <td><input type="text" class="form-control" id="kota" name="kota" size="80" placeholder="Kota" required/></td>
          </tr>
          <tr>
            <td><label class="control-label" for="kode_pos">Kode Pos:</label></td>
            <td></td>
            <td><input type="text" class="form-control" id="kode_pos" name="kode_pos" size="80" placeholder="Kode Pos" required/></td>
          </tr>
          <tr>
            <td><label class="control-label required" for="country">Negara:</label></td>
            <td></td>
            <td ><div class="select-menu">
              <select id="country" name ="country">
              </select>
            </div>
            </td>
          </tr>

          <tr>
            <td><label class="control-label required" for="state">Provinsi:</label></td>
            <td></td>
            <td >
              <div class="select-menu">
                <select name ="state" id ="state">
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td><label class="control-label required" for="no_hp">Handphone:</label></td>
            <td></td>
            <td><input type="text" class="form-control" id="no_hp" name="no_hp" size="80" placeholder="Handphone" required/></td>
          </tr>
          <tr>
            <td><label class="control-label" for="no_tlp">Telepon:</label></td>
            <td></td>
            <td><input type="text" class="form-control" id="no_tlp" name="no_tlp" size="80" placeholder="Telepon" required/></td>
          </tr>
          <tr>
            <td><label class="control-label required" for="email">Email:</label></td>
            <td></td>
            <td><input type="email" class="form-control" id="email" name="email" size="80" placeholder="Email" required/></td>
          </tr>

          </tbody>
        </table>
        <h4 class="secondary-title">Subscribe Newsletter</h4>
        <hr style="width:678px; margin-top:0px; margin-bottom:10px; padding-left:0px; padding-top:0px; float:left;"/>
        <table id="table-newsletter-info">
          <tbody>
          <tr>
            <td>
              <label class="control-label required" for="rb_btn">Ingin Mendapatkan Berita Mengenai Produk?</label>
            </td>
            <td></td>
            <td>
              <input type="radio" name="newsletter" value="1" />Ya
              <input type="radio" name="newsletter" value="0" checked="checked" />Tidak
            </td>
          </tr>
          </tbody>
        </table>
        <hr style="width:678px; margin-top:8px; padding-left:0px; padding-top:0px; float:left;"/>
        <div class="btn-user">
          <label>Dengan menekan tombol Daftar, saya mengkonfirmasi telah menyetujui <a href="./term.php">Syarat dan Ketentuan</a> KampretStore yang berlaku</label>
          <button type="submit" id="btn-daftar" class="btn btn-success">Daftar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script language="javascript">
    populateCountries("country", "state");
</script>